.outer {
    float: top;
    position: absolute;
    background-color: #000000;
    height: 100%;
    width: 10rem;
}

.inner {
    height: 80%;
    margin: 5rem 1rem 0 1rem;
    color: white;
    text-align: center;
}

.propic {
    width: 7rem;
    height: 7rem;
    background-color: #fff;
    border-radius: 50%;
}

.flag {
    height: 2.5rem;
    width: 2.5rem;
}

a {
    font-family: "jediFont";
}

.links {
    margin-top: 5rem;
}

.link {
    margin-top: 5rem;
}

.link a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.contact {
    margin-bottom: 1rem;
    margin-left: .5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: inline-flex;
}

.email-ico {
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50%;
}

.contact a {
    margin: .5rem 0 0 .5rem;
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
}

.menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.menu span {
    height: 0.4rem;
    width: 100%;
    color: #fff;
    border-radius: 0.2rem;
}

@font-face {
    font-family: 'jediFont';
    src: url('../assets//fonts/Starjedi.ttf');
}

@media (max-width: 1060px) {
    .outer {
        float: top;
        display: flex;
        position: absolute;
        background-color: #000000;
        height: 5rem;
        width: 100%;
    }

    .inner {
        width: 100%;
        margin: 0;
    }

    .propic {
        width: 4rem;
        height: 4rem;
        background-color: #fff;
        border-radius: 50%;
        float: left;
        margin: .5rem 0 0 2rem;
        display: none;
    }

    .flag {
        display: none;
    }

    .links {
        display: flex;
        margin-top: 0;
        float: right;
        margin: 1.5rem .5rem 0 0;
    }

    .link {
        margin-top: 0;
        margin-right: 2rem;
    }

    .contact {
        display: none;
    }
}

@media (max-width: 560px) {

    .menu {
        display: flex;
    }

    .outer {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .inner {
        margin: 1rem 0;
    }

    .open {
       display: flex;
    }

    .links {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 0.25rem 0;
        background-color: rgb(238, 234, 234);
        margin: 0.2rem 0.5rem;
        margin-right: 2rem;
    }
    

    .link {
        font-size: 1rem;
        margin: 0.25rem 0;
    }
}