.outer {
    float: top;
    position: absolute;
    background-color:#000000;
    height: 100%;
    width: 10rem;
}

.inner {
    height: 80%;
    margin: 5rem 1rem 0 1rem;
    color: white;
    text-align: center;
}

.propic {
    width: 7rem;
    height: 7rem;
    background-color: #fff;
    border-radius: 50%;
}

 a {
    font-family: "jediFont";
 }

.links {
    margin-top: 10rem;
}

.link{
    margin-top: 5rem;
}

.link a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.contact {
    margin-bottom: 1rem;
    margin-left: .5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: inline-flex;
}

.email-ico {
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50%;
}

.contact a {
    margin: .5rem 0 0 .5rem;
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
}

@font-face {
    font-family: 'jediFont';
    src: url('../assets//fonts/Starjedi.ttf');
}